
body{
  background-color: transparent
}

html {

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.menu-transparency, .my-transparency{
background-color: rgba(47, 47, 52, 0.93);
border-radius: 6px;

}
.menu-transparency {
   margin-top: 15px;
}

.my-transparency{
  padding: 20px 20px;
  color: #ffffff;
}
div[class^=h-table-], div[class^=t-table-] {
    border-radius: 6px;
    /*margin: 0 5px;*/
    padding: 5px;
}
.thin-padding{
    padding: 10px 5px;
}
.t_break{
border-radius: 4px;
    padding: 8px 0 1px 0;

}
.t_break:hover{
    color: white;
    filter: brightness(10%);
}
div[class^=h-table-] {
    text-align: center;
    padding-top: 12px;
    color: white;
}
[class^=t-table-] {
    color: black;
    /*padding-top: 30px;*/
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.h-table-1{
    background-color: rgba(141, 137, 19, 0.72);
}
.h-table-1:hover{
    background-color: rgba(141, 137, 19, 0.91);
}
.t-table-1 {
    background-color: rgba(218, 214, 26, 0.72);
}
.h-table-2:hover{
    background-color: rgba(156, 84, 28, 0.91);
}
.h-table-2 {
    background-color: rgba(156, 84, 28, 0.72);
}
.t-table-2 {
    background-color: rgba(223, 123, 34, 0.72);
}
.h-table-3 {
    background-color: rgba(11, 133, 17, 0.72);
}
.h-table-3:hover {
    background-color: rgba(11, 133, 17, 0.91);
}
.t-table-3 {
    background-color: rgba(14, 218, 26, 0.72);
}
.h-table-4 {
    background-color: rgba(21, 77, 155, 0.72);
}
.h-table-4:hover {
    background-color: rgba(21, 77, 155, 0.91);
}
.t-table-4 {
    background-color: rgba(28, 111, 231, 0.72);
}
.pull-left {
  float: left !important;
    padding-right: 15px;
}
.pull-right {
  float: right !important;
    padding-left: 15px;
}
.white, .white a {
  color: #fff;
}
.teamName, .teamImage{
    padding: 10px 0 ;
}
.homeImg{
    padding:10px;
}
.day-form[type=textarea]{
    min-height: 100px;
    min-width: 200px;
    /*padding: 0 0 100px 0;*/

}
.form-check-label{
    margin: 0 10px;
}
.form-check-input{
    margin-right: 10px;
}


/*.t_break:hover h5{*/
    /*filter: brightness(20%);*/
    /*color: #ffffff;*/
/*}*/
