<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    {% include 'extn_links.html' %}
    {% block extn_styles %}{% endblock %}

    {% block styles %}
    {% endblock %}

   <link rel="shortcut icon" type="image/x-icon" href="/static/images/tfte-logo.png"/>


</head>
<body>
{% block toptheme %}

{% endblock %}
{% block contenttheme %}

{% endblock %}
{% block footertheme %}

{% endblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
{% block scripts %}

    <script src="{{ url_for ('static', filename='desktop/js/main.js') }}"></script>
{% endblock %}
</body>
</html>