{% extends "base.html" %}
<!-- this is to add a layer of style/themes to the site -->

{% block toptheme %}
    <div id="main_header" class="container my-transparency">
        <div id="top_menu">
            {% if menu %}
            {% include menu %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block contenttheme %}
    <div class="container  my-transparency">
        <div id="content">
            {% if data %}
                {% set data=data %}
                {% include sub_content %}
            {% endif %}
        </div>
    </div>
{% endblock %}