{% from "form_helper.html" import forms %}


<h1>Password Verification</h1>
<form id="myForm" method="post" action="admin/login" class="form-group">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ forms('username','text') }}
    {{ forms('password','password') }}

    <button id="login" type="submit" class="btn btn-danger">Submit</button>

</form>
<div id="comment" class="comment"></div>
<script>

    $().ready(function ($) {
        console.log('tesl');
        var csrf = $("input[name='csrf_token']").val(),
            username = $('#id_username');


        $("#login").click(function (e) {
            var form = $("#myForm");
            e.preventDefault();
            if (form.valid()) {
                var data = form.serialize();
                main.post_data("auth/login", data).done(function (result) {
                    if (result.content) {
                        $('#content').html(result.content);
                    }
                    if (result.message) {
                        $('#signup_message').html(result.message)
                    }
                    if (result.menu) {
                        $('#top_menu').html(result.menu)
                    }

                });
            }

            return form.valid();
        });

        $("#myForm").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                username: {
                    required: "Enter your username",
                    minlength: "At least 2 characters are necessary"
                }
            }
        });
    });
</script>