<div id="main-menu" class="d-flex justify-content-start menu-transparency">
    <div data-link="welcome" class="p-2">
        <span class="fa fa-home fa-2x white"></span>
    </div>
{#    {% for menu in data["menu"] %}#}
{#    <div class="p-2 invisible hidden" data-link="{{ menu.link }}">#}
{#        <a class="nav-link text-center" href="#">{{ menu.title | capitalize }}</a>#}
{#    </div>#}
{#    {% endfor %}#}
    <div class="ml-auto p-2 invisible hidden">
        <div id="logged_in" class="text-center white nav-link">Please login to continue</div>
    </div>
    <div class="ml-auto p-1 invisible hidden">
        <img src="" alt="" id="user_img" class=" rounded-circle" width="40" height="40"/>
    </div>
    <div class="ml-auto p-2" data-link="user">
        <button class="btn btn-primary text-center nav-link">Login</button>
    </div>
</div>

