<div class="row toprow">
    <div id="home" data-link="home" class="col-3"><i class="fa fa-home fa-3x" aria-hidden="true"></i></div>
    <div class="col-6"><h1 class="text-center">Welcome to my site</h1></div>
    <div class="col-1">
        <button id="login_btn" data-link="login" class="btn btn-primary align-content-end">Login</button>
    </div>
    <div class="col-1">
        <button id="signup_btn" data-link="signup" class="btn btn-info">sign up</button>
    </div>
    <div class="col-1"></div>
</div>
<script>
jQuery(document).ready(function ($) {

    $('#home, #login_btn, #signup_btn').click(function (e) {
        var link = $(this).data('link');
        main.get_data(link).done(function (result) {
{#            if (result.body) {#}
{#                $('body').html(result.body);#}
{#            }#}
            if (result.content) {
                $('#content').html(result.content);
            }
            if (result.menu) {
                $('#top_menu').html(result.menu)
            }
        })
    });
});
</script>